@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar-grid-bg {
  background-color: #111111;
  background-image: linear-gradient(
      32deg,
      rgba(8, 8, 8, 0.74) 30px,
      transparent 30px
    ),
    linear-gradient(-32deg, rgba(8, 8, 8, 0.74) 30px, transparent 30px);
  background-size: 60px 60px;
  background-position: 0 0;
}

.background-custom {
  @apply w-full h-full bg-[#111111];
  background-image: linear-gradient(
    32deg,
    rgba(8, 8, 8, 0.74) 30px,
    transparent
  );
  background-size: 60px 60px;
  background-position: -5px -5px;
}

.loader {
  user-select: none;
}

.star {
  opacity: 0;
  fill: #ffdf00;
  animation: loader 2s infinite alternate;
}

.star2 {
  height: 20px;
  margin-left: -10px;
  animation-delay: 0.25s;
}

.star3 {
  height: 16px;
  margin-left: -15px;
  animation-delay: 0.5s;
}

@keyframes loader {
  0% {
    opacity: 0;
    transform: translateY(0) translateX(50px) rotate (0deg);
  }
  10% {
    opacity: 0;
    transform: translateY(0) translateX(50px) rotate(0deg);
  }
  100% {
    opacity: 1;
    transform: translateY(-20px) translateX(0) rotate(360deg);
  }
}

.blur-overlay {
  backdrop-filter: blur(5px);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 40;
}

.letter:hover {
  transform: scale(1.5);
  display: inline-block;
  transition: transform 0.3s;
}

.letter {
  display: inline-block;
  transition: transform 0.3s, color 0.3s;
  color: var(--letter-color, white);
}

.typing {
  font-size: 2rem;
  color: white;
  border-right: 3px solid white;
  animation: blink 0.5s infinite, typing 4s steps(30);
  white-space: nowrap;
  overflow: hidden;
  overflow: visible on hover;
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
