@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(10, 1fr); /* 10 columns */
  grid-gap: 1em; /* Space between cards */
  padding: 1em;
}

.card {
  border: 1px solid #ddd; /* Optional: border for each card */
  padding: 1em;
  text-align: center;
  background-color: #f9f9f9; /* Optional: background color */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); /* Optional: card shadow */
}

.card img {
  max-width: 100%;
  height: auto; /* Keep aspect ratio */
  margin-bottom: 0.5em;
}

.card-back-container {
  margin: 1em 0;
  text-align: center;
}

.card-back-container img {
  max-width: 200px;
  cursor: pointer;
}

.selected-cards-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 20px 0;
}

.selected-card img {
  max-width: 200px;
}

.user-selected-cards-container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 10px;
  margin: 20px 0;
}

.user-selected-cards-container .card {
  max-width: 100%;
  margin: 0;
}

.user-selected-cards-container img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}

.user-selected-cards-container .card:hover img {
  transform: scale(2.5);
}

.card .front {
  transform: rotateY(90deg);
  transition: all ease-in 0.2s;
  position: absolute;
}

.flipped .front {
  transform: rotateY(0deg);
  transition-delay: 0.2s;
}

.card .back {
  transition: all ease-in 0.2s;
  transition-delay: 0.2s;
}
.flipped .back {
  transform: rotateY(90deg);
  transition-delay: 0s;
}

.selected-card {
  perspective: 1000px; /* Depth effect for the flip */
}

.card-inner {
  position: relative;
  width: 200px;
  height: 300px; /* Adjust based on your card size */
  transition: transform 0.6s;
  transform-style: preserve-3d;
  cursor: pointer;
}

.card-inner.flipped {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden; /* Hide the back side of the card when flipped */
}

.card-front {
  transform: rotateY(180deg);
}
