@tailwind base;
@tailwind components;
@tailwind utilities;

.blur-overlay {
  backdrop-filter: blur(5px);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 40;
}

.letter:hover {
  transform: scale(1.5);
  display: inline-block;
  transition: transform 0.3s;
}

.letter {
  display: inline-block;
  transition: transform 0.3s, color 0.3s;
  color: var(--letter-color, white);
}

.typing {
  font-size: 2rem;
  color: white;
  border-right: 3px solid white;
  animation: blink 0.5s infinite, typing 4s steps(30);
  white-space: nowrap;
  overflow: hidden;
  overflow: visible on hover;
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
